<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="/assets/css/landingpage.css"/>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Cook or Die </title>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Cook or Die</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> Recipe History
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

          <!-- Blog Post -->
          <div class="container">>
            <div class="card-body">
          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
         <div>
					<h1>What's in the Fridge?</h1>
					<table class="table table-striped">
						<tbody>
							<tr id="form-row">
								<form id="ingredient-form">
									<td colspan="4">
										<input placeholder="Enter an Ingredient" id="ingredient" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Add Ingredient</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>

          <!-- Side Widget -->
          <div class="card my">
            <h5 class="card-header">Ingredients</h5>
            <div class="card-body" id="ingredient-form">
              <ul>
                {{#each data}}
                  <li>
                    <p>name: {{name}}</p>
                    <a href="/api/ingredients/{{id}}">Ingredient Details</a>
                    <button type="submit" id="delete-ingredient" class="delete-ingredient">Delete</button>
                  </li>
                {{/each}}
              </ul>            
            </div>
          </div>


        </div>
      </div>
      <!-- /.row -->

    <div class="card my">
            <h5 class="card-header">Recipes</h5>
            <div class="card-body" id="ingredient-form">
              <ul>
                {{#each results}}
                  <li>
                    <p>name: {{name}}</p>
                    <a href="/api/ingredients/{{id}}">Recipe Details</a>
                    <button type="submit" id="delete-ingredient" class="delete-ingredient">Delete</button>
                  </li>
                {{/each}}
              </ul>            
            </div>
          </div>

    </div>
    <!-- /.container -->
      
    {{!-- <a class="btn btn-primary" href="/">Home</a> --}}

    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/recipes.js"></script>

  </body>

</html>